body {
	font-family: 'Alegreya Sans', sans-serif;
  font-size: 22px;
	padding: 50px;
	text-align: center;
}

header, nav, main {
	margin: auto;
	text-align: center;
	width: 40rem;
}

h1 {
	font-size: 300%;
	font-weight: bold;
	text-align: center;
}

.subtitle {
  font-size: 150%;
	font-style: italic;
	text-align: center;
}

h2 {
  padding-top: 1em;
}

.logo {
  display: block;
  margin: 20px auto;
  text-align: center;
  width: 200px;
}

p {
  line-height: 140%;
  padding: 14px 0;
  text-align: justify;
}

a {
  border-bottom: 1px dashed #999;
  color: black;
  text-decoration: none;
}

a:hover {
  color: #977;
}

ol > li {
  display: inline;
  padding-right: 1em;
}

ul {
  line-height: 140%;
  padding: 0 14px;
  text-align: justify;
}

ul > li {
  margin: 7px 28px;
}

.button[href] {
  background-color: #28a745;
  border: 1px solid green;
  border-color: #28a745;
  border-radius: 1ex;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin: 0.5ex;
  padding: 1ex 1.5ex;
  text-align: center;
  text-decoration: none;
}

.button[href]:hover {
  background-color: #218838;
  border-color: #218838;
  color: white;
}
